<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>SRACN - Club de natation</title>

	<link rel="stylesheet" th:href="@{/css/sracn.build.tailwind.css}">
</head>

<body class="bg-[--color-sracn-bg] text-[--color-sracn-text] antialiased">

	<div th:replace="~{fragments/sracn/header :: header}"></div>

	<main>

		<div th:replace="~{fragments/sracn/hero :: hero}"></div>

		<div th:replace="~{fragments/sracn/pillars :: pillars}"></div>

<!--		<div th:replace="~{fragments/sracn/groups :: groups}"></div>-->

<!--		<div th:replace="~{fragments/sracn/news :: news}"></div>-->
<!--		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a orci sit amet sapien blandit molestie. Sed vel-->
<!--			nisi sit amet mi fermentum posuere vitae ut sem. Pellentesque facilisis felis non ex bibendum pharetra. Nullam et-->
<!--			enim a diam iaculis ullamcorper ac at arcu. Morbi consectetur turpis ac nisl placerat, egestas commodo leo lobortis.-->
<!--			Duis turpis odio, accumsan sed porttitor pulvinar, vestibulum ut odio. Fusce urna libero, porttitor a dolor in,-->
<!--			laoreet rutrum ex. In aliquet vel velit id suscipit. Donec faucibus cursus accumsan. Donec efficitur ante justo, eu-->
<!--			ullamcorper elit rhoncus ac. Aenean venenatis nec nulla sit amet mattis. Interdum et malesuada fames ac ante ipsum-->
<!--			primis in faucibus. Praesent aliquam tellus quis nunc scelerisque, ac ultricies ex mattis. Proin nec venenatis leo,-->
<!--			ac dapibus libero.-->
<!--		</p>-->
<!--		<p>-->
<!--			Cras magna tortor, feugiat vel turpis luctus, viverra aliquam mi. Donec nec elit laoreet, rutrum arcu et, suscipit-->
<!--			ex. Aliquam egestas finibus ligula ultrices tempor. Suspendisse fringilla arcu id sollicitudin commodo. Proin-->
<!--			imperdiet lorem tempus, ultricies lorem eu, suscipit elit. Morbi et diam at ante auctor hendrerit sed vitae leo.-->
<!--			Mauris viverra magna nec iaculis faucibus. Vestibulum elementum ac eros non facilisis. Ut sit amet venenatis risus,-->
<!--			id egestas nulla. Phasellus dui enim, molestie ac condimentum vitae, vehicula in quam. Vivamus molestie turpis-->
<!--			lacus, non mollis magna scelerisque id. Ut quis lorem in neque sagittis iaculis et in odio. Sed bibendum magna elit.-->
<!--			Maecenas ultricies justo at dolor porttitor, in tempus elit ullamcorper. Etiam tellus dolor, scelerisque sagittis-->
<!--			nunc quis, faucibus venenatis lorem.-->
<!--		</p>-->
<!--		<p>-->
<!--			Sed consectetur ac ligula sit amet congue. Fusce placerat congue ipsum. Nullam vitae magna eros. Pellentesque-->
<!--			accumsan, purus sed vestibulum dictum, est est dapibus nunc, id varius enim augue nec sapien. Quisque iaculis nisl-->
<!--			egestas, gravida arcu a, auctor tellus. Suspendisse pellentesque blandit accumsan. Pellentesque habitant morbi-->
<!--			tristique senectus et netus et malesuada fames ac turpis egestas. Aenean et massa in nunc facilisis elementum. Donec-->
<!--			vehicula dictum vestibulum. Proin accumsan viverra vestibulum. Maecenas ipsum magna, varius non magna vel, cursus-->
<!--			bibendum turpis. Aliquam in placerat elit, sed consectetur mi. Quisque sed luctus tortor. Fusce ac ex eu tortor-->
<!--			accumsan hendrerit sit amet aliquam nibh.-->
<!--		</p>-->
<!--		<p>-->
<!--			Quisque fermentum, turpis et scelerisque tempor, diam magna mattis lectus, nec pellentesque quam quam eget leo.-->
<!--			Suspendisse potenti. Donec sagittis aliquet arcu non facilisis. Phasellus quis bibendum augue. Sed aliquet-->
<!--			pellentesque metus id ullamcorper. Donec at consequat neque. Etiam sit amet neque lorem. Nullam erat metus,-->
<!--			pellentesque eu lacinia ut, vehicula in tellus. Sed ipsum arcu, euismod at orci a, convallis ultrices leo. Maecenas-->
<!--			ut purus odio. Curabitur ultrices malesuada laoreet. Aenean lobortis, mauris sed porttitor fermentum, mi magna-->
<!--			fringilla risus, mattis molestie ligula tortor ut urna. In eleifend lacus ligula, ac finibus odio auctor nec.-->
<!--			Praesent pulvinar sapien nec mi vehicula, nec sagittis odio finibus. Vestibulum ante ipsum primis in faucibus orci-->
<!--			luctus et ultrices posuere cubilia curae; Sed vitae velit non enim rutrum convallis at non nisl.-->
<!--		</p>-->
<!--		<p>-->
<!--			Donec eleifend pharetra odio id tristique. Aenean efficitur massa lorem, vitae semper mauris molestie nec. In-->
<!--			fringilla venenatis ipsum. Vestibulum et diam ac nisl dictum tincidunt. Aenean in placerat leo, eu eleifend nibh.-->
<!--			Nam vitae eros tellus. Maecenas in mi pellentesque, hendrerit leo sit amet, tempus justo. Aliquam ullamcorper eros-->
<!--			non erat cursus cursus. Donec libero felis, hendrerit at lorem id, laoreet vehicula neque. Ut eu laoreet sem. Cras-->
<!--			elementum, dui quis molestie cursus, quam dolor sagittis justo, id placerat purus mauris et tortor. Donec feugiat-->
<!--			porta aliquet. Nulla facilisi. Cras nec nunc at ante iaculis tincidunt. Nullam ultricies, lectus in mollis-->
<!--			vulputate, magna est fringilla nisi, at rutrum tortor tortor quis dolor. Praesent vehicula nisi ac felis mollis, non-->
<!--			porttitor justo iaculis.-->
<!--		</p>-->
		
	</main>

<!--	<div th:replace="~{fragments/sracn/footer :: footer}"></div>-->

</body>

</html>