@import "tailwindcss";

@theme {

	--color-sracn-primary: #32AF7D;
	--color-sracn-primary-dark: #1F5C45;
	--color-sracn-primary-light: #A7F3D0;

	--color-sracn-bg: #F6FAF8;
	--color-sracn-surface: #FFFFFF;

	--color-sracn-text: #1D2939;
	--color-sracn-muted: #667085;
}

@utility sracn-section {
	@apply max-w-7xl mx-auto px-4 py-20;
}

@utility sracn-card {
	@apply bg-white rounded-3xl border border-slate-200 shadow-sm;
}

@utility sracn-button-primary {
	@apply inline-flex items-center justify-center
	rounded-xl
	bg-[--color-sracn-primary]
	px-6 py-3
	font-semibold
	text-white
	transition;

 	background-color: var(--color-sracn-primary);
}

@utility sracn-button-primary-hover {
  background-color: var(--color-sracn-primary-dark);
}