<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment-head :: head(
	'404 - Not found | Mémoires vives',
	'',
	'noindex, nofollow',
	'',
	~{}
)}">
</head>

<body class="min-h-screen flex flex-col">
	<div th:replace="~{fragments/fragment-header :: header}"></div>
	<main class="w-full flex-grow flex flex-col items-center">
		<h1 class="h1-title text-center">Erreur 404</a>
			<h2 class="h2-title text-center">Ressource non trouvée</h2>
			<p th:text="${errorMessage}">Une erreur est survenue.</p>
			<a href="/" class="form-button">Retour à l'accueil</a>
	</main>
	<div th:replace="~{fragments/fragment-footer :: footer}"></div>
</body>

</html>