<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>413 - Payload Too Large</title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
</head>

<body class="min-h-screen flex flex-col">
	<div th:replace="~{fragments/fragment-header :: header}"></div>
	<main class="w-full flex-grow flex flex-col items-center">
		<h1 class="h1-title text-center">Erreur 413</a>
			<h2 class="h2-title text-center">L'image que vous essayez de télécharger est trop grosse. Veuillez
				réduire la taille de votre image à moins de 2 Mo.</h2>
			<a href="/" class="form-button">Retour à l'accueil</a>
	</main>
	<div th:replace="~{fragments/fragment-footer :: footer}"></div>
</body>

</html>