<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>À propos</title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
	<!--	<link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>

<body>
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	<main class="font-bold w-full flex flex-col items-center">
		<h1 class="mt-[80px] text-[#bddab2] text-2xl">Bienvenue sur mémoires vives</h1>
		<p>Ce site a pour objectif de rassembler, préserver et partager des souvenirs locaux afin de créer une mémoire collective de la région en permettant
			aux habitants de partager des anecdotes, des photos, et des histoires liées à des lieux spécifiques.</p>
	</main>

</body>

</html>