<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment-head :: head(
	'Échec de l’activation du compte | Mémoires vives',
	'',
	'noindex, nofollow',
	'',
	~{}
)}">
</head>

<body class="min-h-screen flex flex-col">
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	<main class="w-full flex-grow flex flex-col items-center">
		<h1 class="h1-title" th:text="${message}"></h1>
		<div class="button-container">
			<a th:href="@{/}" class="form-button">Retour</a>
		</div>

	</main>
	<div th:replace="~{fragments/fragment-footer :: footer}"></div>
</body>

</html>