<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panneau d'administration</title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
	<!--	<link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>

<body>
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	<div class="flex flex-row justify-between items-start h-screen">
		<main class="font-bold w-full flex flex-col items-center">
			<h1 class="mt-[80px] text-[#bddab2] text-2xl">Panneau d'administration</h1>
			<p th:text="${page}"></p>
		</main>
		<div data-th-replace="~{fragments/fragment-admin-aside :: admin}"></div>
	</div>
</body>

</html>