<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment-head :: head(
	'Panneau d’administration',
	'',
	'noindex, nofollow',
	'',
	~{}
)}">
</head>

<body class="min-h-screen flex flex-col">
	<div th:replace="~{fragments/fragment-header :: header}"></div>
	<div class="flex flex-grow flex-row">
		<main class="flex flex-col flex-grow">
			<div class="flex-grow w-full flex flex-col items-center justify-start font-bold p-4">
				<h1 class="mt-[80px] text-[#bddab2] text-2xl">Panneau d'administration</h1>
				<p>Nombre de bots détectés : <span th:text="${counter}">0</span></p>				
			</div>
			<div th:replace="~{fragments/fragment-footer :: footer}"></div>
		</main>
		<div th:replace="~{fragments/fragment-admin-aside :: admin}"></div>
	</div>
</body>

</html>