<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mot de passe oublié</title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
	<!--	<link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>

<body>
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	<main class="font-bold w-full flex flex-col items-center">
		<h1 class="mt-[80px] text-[#bddab2] text-2xl my-4">Mot de passe oublié ?</h1>
		<p class="bg-[#bddab2] text-sm font-light p-4 ">Un lien vous sera envoyé par mail vous permettant de réinitialiser votre mot de passe.</p>
		<form th:action="@{/forgot-password}" method="post" class="my-2 w-full max-w-lg flex flex-col">
			<div class="my-2">
				<label for="email" class="form-label">Adresse mail</label>
				<input type="email" id="email" name="email" placeholder="Votre adresse mail" class="form-input" required>
			</div>

			<div class="button-container">
				<button type="submit" class="form-button">Envoyer une demande</button>
			</div>

		</form>
	</main>

</body>

</html>