<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mot de passe oublié | Mémoires vives</title>
	<meta name="robots" content="noindex, nofollow">
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
	<!--	<link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>

<body class="min-h-screen flex flex-col">
	<div th:replace="~{fragments/fragment-header :: header}"></div>
	<main class="w-full flex-grow flex flex-col items-center">
		<h1 class="h1-title">Mot de passe oublié ?</h1>
		<p class="bg-[#bddab2] text-sm font-light p-4 mt-2">Un lien vous sera envoyé par mail vous permettant de
			réinitialiser votre mot de passe.</p>
		<form th:action="@{/forgot-password}" method="post" class="my-2 w-full max-w-lg flex flex-col">
			<div class="my-2">
				<label for="email" class="form-label">Adresse mail</label>
				<input type="email" id="email" name="email" placeholder="Votre adresse mail" class="form-input"
					required>
			</div>
			<div th:replace="~{fragments/fragment-captcha :: fragment-captcha}"></div>
			<div class="button-container">
				<button type="submit" class="form-button">Envoyer une demande</button>
			</div>

		</form>
		<p class="text-sm font-light p-4" th:if="${message != null or errorMessage != null}"
			th:text="${errorMessage != null ? errorMessage : message}"
			th:classappend="${errorMessage!=null}? ' bg-red-500':'bg-[#bddab2]'"></p>
	</main>
	<div th:replace="~{fragments/fragment-footer :: footer}"></div>
</body>

</html>