<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment-head :: head(
	'Partagez la mémoire locale de votre région | Mémoires vives',
	'Découvrez et partagez des souvenirs locaux : histoires, lieux et mémoires racontés par la communauté locale, partout dans le monde.',
	'index, follow',
	'https://memoires-vives.fr/',
	~{fragments/fragment-extra-head::indexHead}
)}">
</head>

<body id="body" th:data-authenticated="${#authentication.principal != 'anonymousUser'}" data-page="home"
	class="min-h-screen flex flex-col">
	<div th:replace="~{fragments/fragment-header :: header}"></div>
	<main class="w-full flex-grow flex flex-col items-center">
		<h1 class="h1-title">Bienvenue sur mémoires vives</h1>
		<div th:replace="~{fragments/fragment-filters-container :: filters-container(true)}"></div>
		<div id="map-container" class="w-full md:w-4/5 h-[55vh] min-h-[300px] my-6 hidden">
			<div id="map" class="h-full w-full border border-[#7e9076] rounded-lg flex justify-center items-center">
			</div>
		</div>
		<div id="grid-container" class="w-full md:w-4/5">
			<div id="cards-container" class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-3 my-6 w-full">

				<!--				Cette partie est faite pour rendre un truc, même en l'absence de JS. Bon pour le SEO-->
				<a th:each="view : ${views.content}" th:href="@{${view.canonicalUrl}}" class="border border-black rounded-lg flex flex-col items-center w-full h-[150vw] md:h-[30vw] lg:h-[20vw]
          overflow-hidden duration-200 hover:scale-101" th:object="${view.memory}">

					<div class="relative w-full pb-[100%] border-b">
						<img class="absolute rounded-t-lg w-full h-full object-cover" th:src="${view.memory.mediaUUID != null
                      ? '/uploads/' + view.memory.mediaUUID
                      : '/images/public/memory-placeholder.png'}" th:alt="${view.memory.mediaUUID != null
                      ? 'illustration de ' + view.memory.title
                      : 'souvenir sans illustration'}" loading="lazy" />
					</div>

					<h3 class="h3-title mb-2" th:text="*{title}">
						Titre du souvenir
					</h3>

					<p class="w-full px-1 text-justify" th:text="*{#strings.abbreviate(description, 160)}">
						Description du souvenir
					</p>

				</a>
				<!--				Jusqu'ici-->
			</div>
			<div id="pagination-control" class="flex flex-row flex-start flex-wrap gap-1">
			</div>
		</div>
	</main>
	<div th:replace="~{fragments/fragment-footer :: footer}"></div>
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<script src="/js/find-and-sort.js"></script>
</body>

</html>