<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment-head :: head(
	'Partagez la mémoire locale de votre région | Mémoires vives',
	'Découvrez et partagez des souvenirs locaux : histoires, lieux et mémoires racontés par la communauté locale, partout dans le monde.',
	'index, follow',
	'https://memoires-vives.fr/',
	~{fragments/fragment-extra-head::indexHead}
)}">
</head>

<body id="body" th:data-authenticated="${#authentication.principal != 'anonymousUser'}" data-page="home"
	class="min-h-screen flex flex-col bg-paper">
	<div th:replace="~{fragments/fragment-header :: header}"></div>
	<main class="w-full flex-grow flex flex-col items-center">
		<h1 class="h1-title">Bienvenue sur mémoires vives</h1>
		<div th:replace="~{fragments/fragment-filters-container :: filters-container(true)}"></div>
		<div id="map-container" class="w-full md:w-4/5 h-[55vh] min-h-[300px] my-6 hidden">
			<div id="map" class="h-full w-full border-2 border-olive rounded-lg flex justify-center items-center">
			</div>
		</div>
		<div th:replace="~{fragments/fragment-memory-grid :: memory-grid}"></div>
	</main>
	<div th:replace="~{fragments/fragment-footer :: footer}"></div>
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<script src="/js/find-and-sort.js"></script>
</body>

</html>