<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Connexion</title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
</head>

<body>
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	<main class="mt-[80px] font-bold w-full flex flex-col items-center">
		<h1 class="text-[#bddab2] text-2xl">Se connecter</h1>
		<form th:action="@{/login}" method="post" class="w-full max-w-lg flex flex-col">
			<label for="username" class="form-label">Nom d'utilisateur:</label>
			<input type="text" id="username" name="username" placeholder="Nom d'utilisateur" class="form-input"
				required />

			<label for="password" class="form-label">Mot de passe:</label>
			<div class="relative w-full">
				<input id="password" name="password" type="password" placeholder="Mot de passe" class="form-input" required>
				<button type="button"
					class="password-toggle absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500 hover:text-gray-700">&#9215;</button>
			</div>

			<!--	        <input type="password" id="password" name="password" placeholder="Mot de passe" class="form-input" required />-->

			<button type="submit" class="form-button">Se connecter</button>
		</form>
	</main>
	<script src="/js/password.js"></script>
</body>

</html>