<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="fr">-->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${memory.memoryId == 0 ? 'Nouveau souvenir' : 'Modification d''un souvenir'}"></title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

</head>

<body>
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>

	<main class="mt-[80px] font-bold w-full flex flex-col items-center">
		<h1 class="text-[#bddab2] text-2xl"
			th:text="${memory.memoryId == 0 ? 'Partager un nouveau souvenir' : 'Modifier un souvenir'}"></h1>
		<form th:action="${memory.memoryId == 0} ? @{/new} : @{/memory/modify}" method="POST" th:object="${memory}"
			enctype="multipart/form-data" id="formWithImage" class="w-full max-w-lg flex flex-col">
			<div th:replace="~{fragments/errors/fragment-errors-global::frag-errors}"></div>
			<div th:replace="~{fragments/errors/fragment-error :: frag-error(title)}"></div>
			<div th:replace="~{fragments/errors/fragment-error :: frag-error(memoryDate)}"></div>
			<div class="inputs-container">
				<div class="title-input">
					<label for="title" class="form-label">Titre </label>
					<input id="title" th:field="*{title}" type="text" placeholder="Donnez un titre à votre souvenir"
						class="form-input" />
				</div>
				<div class="description-input">
					<label for="description" class="form-label">Description </label>
					<textarea id="description" th:field="*{description}"
						placeholder="Décrivez précisément votre souvenir" class="form-input"></textarea>
				</div>
				<div class="category-input">
					<label for="category" class="form-label">Catégorie </label>
					<select id="category" name="category" th:field="*{category}" class="form-input">
						<option th:each="cat : ${categories}" th:value="${cat.categoryId}" th:text="${cat.name}">
						</option>
					</select>
				</div>
				<div class="date-input">
					<label for="date" class="form-label">Date </label>
					<input id="date" th:field="*{memoryDate}" type="date" class="form-input" />
				</div>
				<!--				<div class="visibility-input">-->
				<!--					<label for="visibility">Visibilité </label>-->
				<!--					<select id="visibility" name="visibility" th:field="*{visibility}">-->
				<!--						<option th:each="visibility : ${visibilities}" th:value="${visibility}" th:text="${visibility}">-->
				<!--						</option>-->
				<!--					</select>-->
				<!--				</div>-->
				<div class="image-input mt-2 flex flex-col items-start w-auto">
					<label for="imageInput" class="form-label inline-flex items-center gap-2 cursor-pointer">Choisir l'image associée
						<img th:if="${memory.mediaUUID}!=null" id="image"
							class="rounded-[50%] min-w-[80px] min-h-[80px] w-1/6 h-1/6 max-w-3xs max-h-[256px]"
							th:src="@{/uploads/{filename}(filename=${memory.mediaUUID})}"
							th:alt="'image associée au souvenir ' + ${memory.title}" />
						<img th:if="${memory.mediaUUID}==null" id="image"
							class="rounded-[50%] min-w-[80px] min-h-[80px] w-1/6 h-1/6 max-w-3xs max-h-[256px]"
							src="/images/public/memory-placeholder.png"
							th:alt="'image associée au souvenir ' + ${memory.title}" />
					</label>
					<input id="imageInput" name="image" type="file" accept="image/png, image/jpeg"
						class="hidden" />
				</div>
				<input id="memoryId" th:field="*{memoryId}" type="hidden" />
				<div class="publish flex items-center gap-2">
					<label for="publish" class="form-label mb-0 cursor-pointer">Publier</label>
					<input id="publish" name="publish" type="checkbox"
						th:checked="*{state != null} and *{state.name() == 'PUBLISHED'}" class="form-checkbox" />
				</div>
				<div th:object="${location}">
					<div class="name-input">
						<label for="locationName" class="form-label">Lieu</label>
						<input id="locationName" th:field="*{name}" type="text" placeholder="…"
							class="border-none mx-2 bg-white font-light" readonly />
						<button id="openModalBtn" class="form-button"
							th:text="${memory.memoryId == 0 ?'Choisir un lieu':'Modifier le lieu'}"></button>
					</div>
					<div class="latitude-input hidden">
						<input id="latitude" th:field="*{latitude}" type="text" readonly />
					</div>
					<div class="longitude-input hidden">
						<input id="longitude" th:field="*{longitude}" type="text" class="hidden" readonly />
					</div>
				</div>
			</div>

			<div class="buttons-container">
				<button type="submit" class="button create form-button"
					th:text="${memory.memoryId == 0 ? 'Créer' : 'Modifier'}"></button>
				<a th:href="@{/memory(memoryId=${memory.memoryId})}" class="button cancel form-button">Annuler</a>
			</div>
		</form>

		<div id="upload-status" class="hidden mt-4 p-3 bg-[#7e9076] text-white rounded flex items-center space-x-2">
			<div class="w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin"></div>
			<span>Redimensionnement de l'image en cours...</span>
		</div>
	</main>

	<aside id="modal" class="fixed inset-0 flex items-center justify-center hidden z-40">
		<div class="overlay absolute w-full h-full bg-gray-500/25 js-close-modal"></div>
		<div
			class="w-11/12 min-w-xs h-9/10 min-h-[300px] p-7 bg-white rounded absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
			<button
				class="js-close-modal px-2 py-1 rounded text-lg absolute top-2.5 right-2.5 bg-[#e892a2] text-white font-black hover:opacity-80">X</button>
			<h1 id="title-modal" class="mb-2.5 text-2xl font-medium"
				th:text="${memory.memoryId == 0 ? 'Choisissez un lieu pour votre souvenir' : 'Modifier le lieu de votre souvenir'}">
			</h1>
			<div id="map" class="h-9/10 w-9/10 mb-4 mx-auto border border-black"></div>
			<p id="southWest"></p>
			<p id="northEast"></p>
			<button id="validateLocation" class="form-button">Valider</button>
		</div>
	</aside>
	<aside id="modalName" class="fixed inset-0 flex items-center justify-center hidden z-50">
		<div class="overlay absolute w-full h-full bg-gray-500/25 js-close-modalName"></div>
		<div
			class="w-3/5 min-w-xs h-1/4 min-h-[300px] p-7 bg-white rounded absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
			<button
				class="js-close-modalName px-2 py-1 rounded text-lg absolute top-2.5 right-2.5 bg-[#e892a2] text-white font-black hover:opacity-80">X</button>
			<h3 id="title-modalName" class="mt-5 mb-2.5 text-2xl font-medium">Donnez un nom au lieu de votre souvenir
			</h3>
			<input id="modalNameInput" type="text" placeholder="Un nom pour votre lieu…" class="form-input" />
			<button id="validateLocationName" class="disabled-button" disabled>Valider</button>
		</div>
	</aside>
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/pica@9.0.1/dist/pica.min.js"></script>
	<script src="/js/map-modal.js" type="module"></script>
	<script src="/js/images.js"></script>
</body>

</html>