<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="fr">-->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Modification d'un souvenir</title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

</head>

<body>
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>

	<main class="mt-[80px] font-bold w-full flex flex-col items-center">
		<h1 class="text-[#bddab2] text-2xl"
			th:text="${memory.memoryId == 0 ? 'Partager un nouveau souvenir' : 'Modifier un souvenir'}"></h1>
		<form th:action="${memory.memoryId == 0} ? @{/new} : @{/memory/modify}" method="POST" th:object="${memory}"
			enctype="multipart/form-data">

			<div class="inputs-container">
				<div class="title-input">
					<label for="title">Titre </label>
					<input id="title" th:field="*{title}" type="text" placeholder="Donnez un titre à votre souvenir">
				</div>
				<div class="description-input">
					<label for="description">Description </label>
					<textarea id="description" th:field="*{description}"
						placeholder="Décrivez précisément votre souvenir"></textarea>
				</div>
				<div class="category-input">
					<label for="category">Catégorie </label>
					<select id="category" name="category" th:field="*{category}">
						<option th:each="cat : ${categories}" th:value="${cat.categoryId}" th:text="${cat.name}">
						</option>
					</select>
				</div>
				<div class="date-input">
					<label for="date">Date </label>
					<input id="date" th:field="*{memoryDate}" type="date">
				</div>
				<div class="visibility-input">
					<label for="visibility">Visibilité </label>
					<select id="visibility" name="visibility" th:field="*{visibility}">
						<option th:each="visibility : ${visibilities}" th:value="${visibility}" th:text="${visibility}">
						</option>
					</select>
				</div>
				<div class="image-input">
					<label for="image">Image associée </label>
					<input id="image" name="image" type="file" accept="image/png, image/jpeg">
					<img class="rounded-[50%] min-w-[80px] min-h-[80px] w-1/6 h-1/6 max-w-3xs max-h-[256px]"
						th:if="${memory.mediaUUID}!=null" th:src="@{/uploads/{filename}(filename=${memory.mediaUUID})}"
						th:alt="'image associée au souvenir ' + ${memory.title}" />
					<img class="rounded-[50%] min-w-[80px] min-h-[80px] w-1/6 h-1/6 max-w-3xs max-h-[256px]"
						th:if="${memory.mediaUUID}==null" src="/images/public/memory-placeholder.png"
						th:alt="'image associée au souvenir ' + ${memory.title}" />
				</div>
				<input id="memoryId" th:field="*{memoryId}" type="hidden" />
				<div class="publish">
					<label for="publish">Publier</label>
					<input id="publish" name="publish" type="checkbox"
						th:checked="*{state != null} and *{state.name() == 'PUBLISHED'}" />
				</div>
				<div th:object="${location}">
					<button id="openModalBtn" class="px-4 py-2 bg-[#bddab2] text-black rounded hover:opacity-80">Choisir
						un lieu</button>
					<div class="name-input">
						<label for="locationName">Lieu </label>
						<input id="locationName" th:field="*{name}" type="text"
							placeholder="Donnez un nom au lieu de votre souvenir">
					</div>
					<div class="latitude-input">
						<label for="latitude">Latitude </label>
						<input id="latitude" th:field="*{latitude}" type="number" step="any"
							placeholder="Latitude du lieu">
					</div>
					<div class="longitude-input">
						<label for="longitude">Longitude </label>
						<input id="longitude" th:field="*{longitude}" type="number" step="any"
							placeholder="Longitude du lieu">
					</div>
				</div>
			</div>

			<div class="buttons-container">
				<button type="submit" class="button create"
					th:text="${memory.memoryId == 0 ? 'Créer' : 'Modifier'}"></button>
				<a th:href="@{/memory(memoryId=${memory.memoryId})}" class="button cancel">Annuler</a>
			</div>
		</form>
	</main>

	<aside id="modal" class="fixed inset-0 flex items-center justify-center hidden z-40">
		<div class="overlay absolute w-full h-full bg-gray-500/25 js-close-modal"></div>
		<div
			class="modal w-11/12 min-w-xs h-9/10 min-h-[300px] p-7 bg-white rounded absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
			<button
				class="js-close-modal modal-trigger px-2 py-1 rounded text-lg absolute top-2.5 right-2.5 bg-[#e892a2] text-white font-black hover:opacity-80">X</button>
			<h1 id="title-modal" class="mb-2.5 text-2xl font-medium">Choisissez un lieu pour votre souvenir</h1>
			<div id="map" class="h-9/10 w-9/10 mb-4 mx-auto border border-black"></div>
			<p id="southWest"></p>
			<p id="northEast"></p>
			<a th:href="@{/location/new}"
				class="px-4 py-2 bg-[#bddab2] text-black rounded hover:opacity-80 js-place-btn"
				title="Créer un nouveau lieu de souvenir">Nouveau lieu</a>
		</div>
	</aside>
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<script src="/js/map-modal.js"></script>
</body>

</html>