<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Souvenir</title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
	<!--	<link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>

<body>
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>

	<main class="w-full flex justify-center">
		<div
			class="mt-6 font-bold w-full lg:w-4/5 flex flex-col justify-start items-center md:flex-row md:justify-center md:items-start">
			<div id="memoryPresentation"
				class="border border-[#7e9076] w-full md:w-1/2 flex flex-col items-center gap-3 py-2">
				<h1 class="text-[#bddab2] text-2xl" th:text="${memoryToDisplay.title}"></h1>
				<img class="min-w-[150px] min-h-[150px] max-w-4/5" th:if="${memoryToDisplay.mediaUUID}!=null"
					th:src="@{/uploads/{filename}(filename=${memoryToDisplay.mediaUUID})}"
					alt="image d'illustration du souvenir" />
				<img class="min-w-[150px] min-h-[150px] max-w-4/5" th:if="${memoryToDisplay.mediaUUID}==null"
					src="/images/public/memory-placeholder.png" alt="image d'illustration du souvenir" />
				<div class="w-3/5 text-center">
					Souvenir de <a th:href="@{/profil(userId=${memoryToDisplay.rememberer.userId})}"
						th:text="${memoryToDisplay.rememberer.pseudo}"
						class="text-[#7e9076] hover:text-white hover:bg-[#bddab2]"></a> du <span
							th:text="${#temporals.format(memoryToDisplay.memoryDate, 'dd MMMM yyyy')}"></span>
				</div>
				<div th:text="${memoryToDisplay.description}" class="w-4/5 font-light text-justify">
				</div>
				<div
					th:if="${#authentication.authorities.?[#this.authority == 'ROLE_ANONYMOUS'].isEmpty() and memoryToDisplay.rememberer.userId == #authentication?.principal?.user?.userId}">
					<a th:href="@{/memory/modify(memoryId=${memoryToDisplay.memoryId})}"
						class="text-[#7e9076] hover:text-white hover:bg-[#bddab2]">Modifier</a>
				</div>

			</div>
			<div id="map" class="border border-[#7e9076] w-full h-[50vh] md:h-full md:w-1/2">

			</div>
		</div>
	</main>

</body>

</html>