<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment-head :: head(
	'Profil de ' + ${userToDisplay.pseudo} + ' | Mémoires vives',
	'Profil public de ' + ${userToDisplay.pseudo} + ', membre de la communauté Mémoires vives dédiée aux souvenirs locaux.',
	'index, follow',
	@{https://memoires-vives.fr/profil?userId={id}(id=${userToDisplay.userId})},
	~{}
)}">
</head>

<body class="min-h-screen flex flex-col">
	<div th:replace="~{fragments/fragment-header :: header}"></div>

	<main class="mt-[80px] w-full flex-grow flex flex-col items-center">
		<h1 class="h1-title">Profil de <span th:text="${userToDisplay.pseudo}"></span></h1>
		<div class="w-full md:w-4/5 gap-3 mt-6 flex flex-col items-center">
			<div class="p-2 border border-black rounded-lg flex flex-col items-center w-full max-w-xs">
				<img class="rounded-[50%] min-w-[80px] min-h-[80px] w-1/6 h-1/6 max-w-3xs max-h-[256px]"
					th:if="${userToDisplay.mediaUUID}!=null"
					th:src="@{/uploads/{filename}(filename=${userToDisplay.mediaUUID})}"
					th:alt="'image de profil de ' + ${userToDisplay.pseudo}" />
				<img class="rounded-[50%] min-w-[80px] min-h-[80px] w-1/6 h-1/6 max-w-3xs max-h-[256px]"
					th:if="${userToDisplay.mediaUUID}==null" src="/images/public/user-placeholder.png"
					th:alt="${userToDisplay.pseudo} + ' n\'a pas d\'image de profil'" />
				<div th:if="${isOwner}"
					th:text="${userToDisplay.email}"></div>
				<div th:if="${views != null and !views.empty}">
					<div th:each="view : ${views}">
						<a th:if="${view.memory.state.name() == 'PUBLISHED'}"
							th:href="@{${view.canonicalUrl}}"
							th:text="${view.memory.title}" class="hover:underline"></a>
						<a th:if="${view.memory.state.name() == 'CREATED' && isOwner}"
							th:href="@{${view.canonicalUrl}}"
							th:text="${view.memory.title}" class="bg-[#bddab2] hover:bg-[#7e9076]"></a>
					</div>
				</div>
				<div th:if="${userToDisplay.memories == null or userToDisplay.memories.empty}">
					Aucun souvenir à afficher
				</div>
				<!--				<div th:if="${userToDisplay.friends != null}">-->
				<!--					<div th:each="friend : ${userToDisplay.friends}">-->
				<!--						<a th:href="@{/profil(userId=${friend.userId})}" th:text="${friend.pseudo}"></a>-->
				<!--					</div>					-->
				<!--				</div>-->
				<!--				<div th:if="${userToDisplay.friends != null}">-->
				<!--					Aucun ami à afficher-->
				<!--				</div>-->
			</div>
			<div th:if="${isOwner}"><a th:href="@{/profil/modify}"
					class="form-button">Modifier</a></div>
		</div>
	</main>
	<div th:replace="~{fragments/fragment-footer :: footer}"></div>
</body>

</html>