<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profil</title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
	<!--	<link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>

<body>
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>

	<main class="mt-[80px] font-bold w-full flex flex-col items-center">
		<h1 class="text-[#bddab2] text-2xl">Profil de <span th:text="${userToDisplay.pseudo}"></span></h1>
		<div class="w-full md:w-4/5 gap-3 mt-6 flex flex-col items-center">
			<div class="p-2 border border-black rounded-lg flex flex-col items-center w-full max-w-xs">
				<img class="rounded-[50%] min-w-[80px] min-h-[80px] w-1/6 h-1/6 max-w-3xs max-h-[256px]"
					th:if="${userToDisplay.mediaUUID}!=null"
					th:src="@{/uploads/{filename}(filename=${userToDisplay.mediaUUID})}"
					th:alt="'image de profil de ' + ${userToDisplay.pseudo}" />
				<img class="rounded-[50%] min-w-[80px] min-h-[80px] w-1/6 h-1/6 max-w-3xs max-h-[256px]"
					th:if="${userToDisplay.mediaUUID}==null" src="/images/public/user-placeholder.png"
					th:alt="'image de profil de ' + ${userToDisplay.pseudo}" />
				<div th:if="${userToDisplay.userId == #authentication.principal.user.userId}"
					th:text="${userToDisplay.email}"></div>
				<div th:if="${userToDisplay.memories != null and !userToDisplay.memories.empty}">
					<div th:each="memory : ${userToDisplay.memories}">
						<a th:if="${memory.state.name() == 'PUBLISHED' || userToDisplay.userId == #authentication.principal.user.userId}"
							th:href="@{/memory(memoryId=${memory.memoryId})}" th:text="${memory.title}"></a>
					</div>
				</div>
				<div th:if="${userToDisplay.memories == null or userToDisplay.memories.empty}">
					Aucun souvenir à afficher
				</div>
				<!--				<div th:if="${userToDisplay.friends != null}">-->
				<!--					<div th:each="friend : ${userToDisplay.friends}">-->
				<!--						<a th:href="@{/profil(userId=${friend.userId})}" th:text="${friend.pseudo}"></a>-->
				<!--					</div>					-->
				<!--				</div>-->
				<!--				<div th:if="${userToDisplay.friends != null}">-->
				<!--					Aucun ami à afficher-->
				<!--				</div>-->
			</div>
			<div th:if="${userToDisplay.userId == #authentication.principal.user.userId}"><a
					th:href="@{/profil/modify}">Modifier</a></div>
		</div>
	</main>

</body>

</html>