<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment-head :: head(
	'Réinitialisation du mot de passe réussie | Mémoires vives',
	'',
	'noindex, nofollow',
	'',
	~{}
)}">
</head>

<body class="min-h-screen flex flex-col">
	<div th:replace="~{fragments/fragment-header :: header}"></div>
	<main class="w-full flex-grow flex flex-col items-center">
		<h1 class="h1-title">Mot de passe réinitialisé avec succès</h1>
		<div class="button-container">
			<a th:href="@{/login}" class="form-button">Se connecter</a>
		</div>

		</form>
	</main>
	<div th:replace="~{fragments/fragment-footer :: footer}"></div>
</body>

</html>