<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Échec de la réinitialisation du mot de passe</title>
	<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
	<link rel="icon" href="/images/public/favicon.png" />
	<!--	<link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>

<body>
	<div data-th-replace="~{fragments/fragment-header :: header}"></div>
	<main class="font-bold w-full flex flex-col items-center">
		<h1 class="mt-[80px] text-[#bddab2] text-2xl my-4" th:text="${message}"></h1>
		<div class="button-container">
			<a th:href="@{/forgot-password}" class="form-button">Retour</a>
		</div>

		</form>
	</main>
</body>

</html>