<html xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="filters-container(isHome)" id="filters-container"
	class="bg-[#bddab2] border border-[#7e9076] text-black rounded-lg w-full lg:w-4/5 h-auto mt-4 flex flex-col items-center gap-2 px-4 pb-4">
	<div class="mt-3 flex sm:pb-2 flex-row gap-10 w-full justify-end">
		<h2 class="h2-title text-black text-center">Filtrer les souvenirs</h2>
		<button id="reset"
			class="bg-white border border-[#7e9076] rounded hover:opacity-60 cursor-pointer w-[30px] h-[30px] text-xl hover:bg-[#7e9076] focus:border-[#7e9076] focus:outline-none focus:ring focus:ring-[#7e9076]">&olarr;</button>
	</div>
	<div class="flex flex-col md:flex-row md:flex-wrap justify-between gap-6 w-full">
		<div th:if="${isHome}" id="switch-container" class="w-[150px] h-[50px] flex align-center">
			<div id="grid-button"
				class="bg-white bg-white/50 border border-[#7e9076] rounded-l-xs w-1/2 h-full flex justify-center items-center border-y-2 border-l-2 hover:opacity-60 cursor-pointer font-bold">
				grille</div>
			<div id="map-button"
				class="bg-white border border-[#7e9076] rounded-r-xs w-1/2 h-full flex justify-center items-center hover:opacity-60 cursor-pointer font-bold">
				carte</div>
		</div>
		<div id="key-word-container" class="flex flex-col h-[50px] justify-between">
			<div>
				<label for="key-word-input" class="form-label">Recherche par mots clés</label>
				<input id="only-title" type="checkbox" name="only-title" class="ml-3 accent-[#7e9076]" />
				<label for="only-title" class="font-light text-sm">Uniquement dans le titre</label>
			</div>
			<input id="key-word-input" type="text" name="key-word-input" placeholder="Séparez les mots par une virgule…"
				class="filter-input" />
		</div>
		<div id="date-container" class="flex flex-col h-[50px] justify-between">
			<div class="form-label">Date du souvenir</div>
			<div class="flex justify-start gap-1 form-label">
				entre
				<input id="after-input" type="date" class="filter-input" />
				et
				<input id="before-input" type="date" class="filter-input" />
			</div>
		</div>
		<div id="category-container" class="flex flex gap-1">
			<label for="category-input" class="form-label">Catégorie(s)</label>
			<select multiple name="category-input" id="category-input" class="filter-input" />
			<option value="0"></option>
			<option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.name}">
			</option>
			</select>
		</div>
		<div id="my-memories-container" class="flex flex-col gap-1">
			<div>
				<label for="my-memories" class="form-label">Mes souvenirs uniquement</label>
				<input id="my-memories" type="checkbox" name="my-memories" class="ml-3 accent-[#7e9076]" />
			</div>
			<div id="status-container" class="flex items-start w-full hidden">
				<label for="status" class="w-1/3">État</label>
				<select name="status" id="status" class="filter-input" />
				<option value="1" class="filter-option">tous</option>
				<option value="2" class="filter-option">publiés</option>
				<option value="3" class="filter-option">non publiés</option>
				</select>
			</div>
		</div>
	</div>
	<div id="sort-container" class="w-full flex justify-start">
		<div id="sort-criteria-container" class="flex items-center gap-1">
			<div class="flex items-center gap-1">
				<label for="sort-criteria" class="form-label whitespace-nowrap">Trier par</label>
				<select name="sort-criteria" id="sort-criteria" class="filter-input">
					<option value="0" class="filter-option"></option>
					<option value="1" class="filter-option">Titre</option>
					<option value="2" class="filter-option">Date du souvenir</option>
					<option value="3" class="filter-option">Date de modification</option>
					<option value="4" class="filter-option">Catégorie</option>
					<option value="5" class="filter-option">Utilisateur</option>
				</select>				
			</div>
			<div id="sort-direction-container" class="flex items-center gap-1 hidden">
				<label for="sort-direction" class="form-label whitespace-nowrap pl-4">Ordre</label>
				<select name="sort-direction" id="sort-direction" class="filter-input">
					<option value="0" class="filter-option">Ascendant</option>
					<option value="1" class="filter-option">Descendant</option>
				</select>				
			</div>
		</div>
	</div>

</div>
