<html xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<footer th:fragment="footer" class="bg-olive text-paper border-t-2 border-ink w-full mt-8">
	<div class="max-w-4xl mx-auto px-4 py-6 text-sm text-center">
		<p>
			© Mémoires vives — Projet participatif.
			<a th:href="@{/legal-notices}"
				class="text-sage font-semibold hover:underline focus-visible:underline focus-visible:outline-none">Mentions
				légales</a> •
			<a th:href="@{/privacy-policy}"
				class="text-sage font-semibold hover:underline focus-visible:underline focus-visible:outline-nonee">Politique
				de
				confidentialité</a> •
			<a th:href="@{/conditions}"
				class="text-sage font-semibold hover:underline focus-visible:underline focus-visible:outline-none">Conditions
				d’utilisation</a>
		</p>
	</div>
</footer>

</html>