<html xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="header">
	<nav id="nav"
		class="bg-olive border-b-2 border-ink flex gap-3 justify-between items-center w-full z-10 h-24">
		<a class="rounded focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-sage" th:href="@{/}" aria-label="Page d'accueil">
			<img alt="logo mémoires vives" src="/images/public/logo-header.svg" id="logo-img" class="h-20 ml-2">
		</a>
		<button id="menu-btn" aria-label="Toggle button" aria-expanded="false" class="sm:hidden block rounded focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-sage">
			<img src="/images/public/menu.svg" alt="" class="h-12 w-12">
		</button>
		<ul id="toggled-menu"
			class="text-paper sm:px-3 flex flex-col sm:flex-row gap-2 sm:gap-3 items-center transform-none z-10 max-sm:absolute max-sm:top-0 max-sm:left-0 max-sm:-translate-y-full max-sm:pt-3 max-sm:w-full max-sm:bg-paper max-sm:text-ink font-bold max-sm:h-[100vh] max-sm:justify-start">
			<li class="max-sm:text-2xl max-sm:w-full max-sm:text-center">
				<a th:href="@{/memory/new}" class="head-button text-black sm:text-xl">Je me souviens</a>
			</li>
			<li sec:authorize="hasRole('ROLE_ADMIN')"
				class="max-sm:text-2xl max-sm:w-full max-sm:text-center">
				<a th:href="@{/admin}" class="head-button sm:text-xl">Admin</a>
			</li>
			<li sec:authorize="!isAuthenticated()"
				class="max-sm:text-2xl max-sm:w-full max-sm:text-center">
				<a th:href="@{/signup}" class="head-button sm:text-xl">S'inscrire</a>
			</li>
			<li sec:authorize="!isAuthenticated()"
				class="max-sm:text-2xl max-sm:w-full max-sm:text-center">
				<a th:href="@{/login}" class="head-button sm:text-xl">Se connecter</a>
			</li>
			<li sec:authorize="isAuthenticated()"
				class="max-sm:text-2xl max-sm:w-full max-sm:text-center">
				<a th:href="@{/profil}" class="head-button sm:text-xl" th:text="${#authentication.principal.user.pseudo}"></a>
			</li>
			<li sec:authorize="isAuthenticated()"
				class="max-sm:text-2xl max-sm:w-full max-sm:text-center">
				<a th:href="@{/logout}" class="head-button sm:text-xl">Se déconnecter</a>
			</li>
			<li class="max-sm:text-2xl max-sm:w-full max-sm:text-center">
				<a th:href="@{/about}" class="head-button sm:text-xl">À propos</a>
			</li>
		</ul>

	</nav>
	<script src="/js/navbar.js"></script>
</header>

</html>