<th:block th:fragment="memoryHead">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</th:block>

<th:block th:fragment="indexHead">
	<!--	ajout CRSF token pour méthode POST dans l'appel à l'API-->
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
	<meta name="google-site-verification" content="P3G2KmZFjQTBFyqTZSUgPiH7O5MJrC5azUEXFIFjkJc" />
</th:block>
