<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bienvenue sur Mémoires Vives</title>
</head>

<body style="font-family: Arial, sans-serif;display:flex;flex-direction:flex-col;align-items:center;">
	<h2 th:text="'Bonjour ' + ${name} + ' !'">Bonjour, utilisateur !</h2>
	<div style="font-family: Arial;padding:20px;">
		<p>Cliquez sur le lien ci-dessous pour activer votre compte</p>
		<a th:href="${resetLink}"
			style="background:#bddab2;color:black;padding:10px 20px;text-decoration:none;border-radius:4px;">
			Activer mon compte
		</a>
		<p th:text="'Ce lien expire le ' + ${date} + ' à ' + ${heure}">Ce lien expire dans 24 heures.</p>
	</div>
</body>

</html>