<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Réinitialisation de votre mot de passe utilisateur</title>
</head>

<body style="font-family: Arial, sans-serif;">
	<h2 th:text="'Bonjour ' + ${name} + ' !'">Bonjour, utilisateur !</h2>
	<div style="font-family: Arial; padding:20px;">
		<p>Bonjour,</p>
		<p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>
		<a th:href="${resetLink}"
			style="background:#bddab2;color:black;padding:10px 20px;text-decoration:none;border-radius:4px;">
			Réinitialiser le mot de passe
		</a>
		<p>Ce lien expire dans 30 minutes.</p>
	</div>
</body>

</html>